@import url(./style.css);

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
}

:root {
    --white: #fff;
    --bg: #040D1F;
    --cr: 'cr', sans-serif;
    --cm: 'cm', sans-serif;
    --mr: 'mr', sans-serif;
    --mb: 'cb', sans-serif;
    --rm: 'rm', sans-serif;
    --rr: 'rr', sans-serif;
    --or: #F18128;
    --bl: #040D1F;
    --bgor: #ED8E00;
}
body {
    background: var(--bg);
    color: var(--white);
}

.container {
    max-width: 1140px;
    width: 100%;
    height: 100%;
    padding: 0 15px;
    margin: 0 auto;
}


.btn{
    border: none;
    outline: none;
    color: var(--bl);
    background: var(--bgor);
    width: 166px;
    height: 46px;
    border-radius: 6px;
font-size: 14px;
font-weight: 500;
line-height: 12px;
transition: 0.3s;
cursor: pointer;
}

.btn:hover{
    background: var(--bg);
    color: var(--white);
}